@keyframes elevate {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.25);
    }
}

@keyframes breath {
    25% {
        transform: scale(1.025);
        transform: translateY(-2px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    }
    50% {
        transform: scale(1.07);
        transform: translateY(-3px);
        box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.22);
    }
    100% {
        transform: scale(1.09);
        transform: translateY(-5px);
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1983);
    }
}

@keyframes fade-ltr {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@-o-keyframes fade-ltr {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@-moz-keyframes fade-ltr {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@-webkit-keyframes fade-ltr {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}