/**
* Here is placed the common styles
* may colors or something else
*/

:root {
  --color-primary: #293462;
  --color-primary-light: #4c5fad;
  --color-primary-dark: #251d3a;
  --color-secondary: #f24c4c;
  --color-ternary: #ff7700;
  --text-over-primary: #eeeeee;
  --text-over-secondary: white;
}

html {
  font-family: "Inter", "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/** Header styles
/** #region header */
.navbar {
  background-color: var(--color-primary);
  position: fixed;
  /* // height: max-content; */
  padding: 0;
  width: 100%;
  max-width: 100%;
  top: 0;
  z-index: 9999 !important;
  border-radius: 0px 0px 5px 5px !important;
  box-shadow: 0px 0px 15px #000000;
}
.icon > i {
  width: 100%!important;
  height: 100%!important;
  display: flex;
  font-size: 3rem;
}

a.menu-item:active {
  background-color: #eeeeee;
}

input[type=text],
input[type=email],
input[type=password] {
  box-sizing: border-box;
  border-radius: 0.33em;
  padding: 0.35em 1rem;
  border: 2px solid gray;
}

form > textarea {
  width: 100%;
  resize: vertical;
  margin: 0.33rem 1%;
  min-height: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0.15rem solid gray;
  border-radius: 5px;
}
form > button {
  margin: 5px auto;
  align-self: center;
  text-align: center;
  display: block;
  padding: 0.5rem 1.5rem;
  background-color: var(--color-primary-light);
  color: white;
  font-weight: bold;
  font-family: 'Inter';
  border: 2px solid gray;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.top-background {
  max-height: 50vmin!important;
  overflow: hidden;
  border-radius: 5px;
  position: sticky;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.top-background > img {
  align-self: center;
  position: relative;
  z-index: -9999!important;
  filter: blur(2.5px);
}
.content {
  position: absolute;
  top: -5vh;
}

.gallery {
  display: grid;
}
.gallery img{
  border-radius: 10px!important;
}
.gallery > * {
  border-radius: 10px!important;
  width: fit-content!important;
  height: fit-content!important;
  padding: 0;
  margin: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  transition: background-color 1s ease-out 100ms;
  align-items: center;
  justify-content: center;
  justify-items: center;
  place-items: center;
}
.gallery > *:hover {
  -webkit-animation: breath 0.25s alternate ease-in-out forwards;
  -moz-animation: breath 0.25s alternate ease-in-out forwards;
  animation: breath 0.25s alternate ease-in-out forwards;
}
._anim_appear {
  --anim-duration: 2s;
  animation: fade-ltr var(--anim-duration);
  -moz-animation: fade-ltr var(--anim-duration);
  -webkit-animation: fade-ltr var(--anim-duration);
  -o-animation: fade-ltr var(--anim-duration);
}

.logo {
  max-height: 100%;
  display: block;
  max-width: min-content;
}
.flex-gallery {
  display: flex;
  align-items: center;
  align-self: center;
  justify-items: center;
  flex-wrap: wrap;
  flex-flow: row;
}
.flex-gallery > *:hover {
  animation: elevate 0.5s alternate ease-out forwards;
  -moz-animation: elevate 0.5s alternate ease-out forwards;
  -o-animation: elevate 0.5s alternate ease-out forwards;
  animation-iteration-count: 1;
}

/** #endregion */
/* #region menu*/
div.menu-container {
  padding: 0 1vw;
  overflow: hidden;
  display: flex;
  flex: 1;
  align-content: center;
  float: right;
  justify-content: right;
}

.menu-container>a {
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: center;
  display: flex;
  justify-content: center;
  margin: 0px 1vmin;
  max-width: fit-content;
  padding: 0px 3vmin;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.menu-container>a.icon {
  display: none;
}

/* #endregion */



img,
video {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 32pt;
}

.avatar {
  border-radius: 50%;
  max-width: 10em;
  border-color: #242424;
  border-width: 1rem;
}

#title {
  margin: 0 auto;
}

h2 {
  font-size: 26pt;
}

ul {
  list-style-type: none;
}


/* img.home-background {
  width: 100%;
  height: 100%;
  z-index: -9999;
  top: 0;
  left: 0;
  display: block;
  filter: blur(0.25vw);
  border-radius: 3vmin;
} */

/* #region avatar-container */
.avatar-holder {
  display: grid;
  position: absolute!important;
  margin: auto auto;
  justify-content: center;
  justify-items: center;
  z-index: 1000;
  width: 100%;
  top: 5;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  /*margin: auto 0;*/
}

.avatar-holder>img {
  grid-area: image;
  box-shadow: 7px 10px 2em #000000;
}

.avatar-holder>span {
  font-size: 50pt;
  grid-area: text;
  font-family: Genos;
}
/* #endregion */

lu.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav {
  background-color: var(--color-primary);
}

.menu-item {
  color: var(--text-over-primary);
}

.menu-item:hover {
  font-weight: bold;
  filter: brightness(100%);
}

#content {
  position: relative;
  top: -10vmin;
  z-index: 10;
  overflow: visible;
  width: 100%;
  height: auto;
  display: flex;
}

a {
  text-decoration: none;
}

/* : class definitions {{{ */

div.card {
  margin: 1vw;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  border-width: 1mm;
  border-color: #3a3a3a;
  padding: 1.5em;
}

.input-text {
  border-color: #3a3a3a;
  border-width: 1pt;
  border-radius: 5px;
}

div.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/* }}} */

@keyframes focus-slow {}

/** Small configurations */

@media (min-width: 640px) {
  header {
    max-height: 60px;
  }

  body {
    font-size: 1rem;
  }
}

@media (min-width: 960px) {
  header {
    height: 80px;
  }

  body {
    font-size: 1.2rem;
  }
}

@media (min-width: 1100px) {
  header {
    height: 100px;
  }

  body {
    font-size: 1.5rem;
  }
}
