.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-items: stretch;
}

.navbar .icon {
  display: none;
}


div.spacer {
  height: 100%;
  width: max-content;
}

body {
  background-color: whitesmoke;
  padding: 0;
  /*    display: grid;*/
  height: 100%;
  margin: 0;
}

ul.menu-list {
  display: flex;
  justify-content: flex-end;
  float: right;
}

.avatar-holder {
  grid-template-areas: "image text";
  grid-gap: 2vmin;
  transform: translateY(-120%);
}
.avatar-holder > span {
  color: whitesmoke;
}

.gallery {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 0.5rem;
}

nav {
  display: flex;
  flex-direction: row;
}

.menu-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100%;
}

.menu-list .menu-item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.menu-item:hover {
  background-color: var(--color-primary-dark);
}

.main {
  box-shadow: 3px 3px 1.5rem #a593a5;
  border-radius: 5px;
  padding: 1rem;
}

/* For debugging */
/*article, nav, header, footer, section {
    border: 1pt solid #3a3a3a;
    margin: 3pt;
}*/

footer {
  padding: auto;
  border-color: black;
}

/** Generic class from a grid-like layout **/
footer {
  background-color: #3a3a3a;
  color: white;
  display: flexbox;
  height: 100px;
}

span#copyright {
  padding: 10px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}
.header a.logo:hover {
  background-color: dodgerblue;
  color: white;
}

.header-menu a:active {
  background-color: var(--color-primary-dark);
  color: white;
}
