
.avatar-holder {
    grid-template-areas:
    "image"
    "text";
    position: relative;
    transform: translateY(-30%);
}

.avatar-holder > span {
  color: black;
  font-size: 3.5em;
}

#content > .card {
  padding-top: 20vmax;
}

.navbar {
    display: grid;
    grid-template-areas: "left center rigth";
}


.navbar a { display: none; }


.navbar a.icon {
  float: right;
  display: block;
}

.navbar.responsive { position: relative; }

.navbar.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.navbar.responsive a {
  float: none;
  display: block;
  text-align: left;
}

.gallery {
  padding: 0px 5px;
  row-gap: 10px;
}



.logo {
    grid-area: center;
    max-height: 100%;
    display: block;
}
.menu-container {
    grid-area: left;
    flex-direction: row;
    padding: 0!important;
    justify-content: space-evenly;
}
.icon *{
  height: 100%;
  width: 100%;
}


.menu-container a:not(:first-child) {display: none;}
.menu-container a.icon {
float: right;
display: block;
}
