:root {
    --primary: #212121;
    --primary-light: #484848;
    --primary-dark: #000000;
    --secondary: #ff8f00;
    --secondary-light: #ffc046;
    --secondary-dark: #c56000;
    --text-on-primary: #ffffff;
    --text-on-secondary: #000000;
    --danger: #ca2828;
    --warn: #f09c00;
    --success: #00db00;
}


body {
    background-color: var(--secondary-light);
    align-items: baseline;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
  font-size: 5vmax;
}
h2 {
  font-size: 2vmax;
}

body > div {
  width: 50%;
  justify-content: flex-start;
  justify-items: flex-start;
  padding: 0.75rem 0.33rem!important;
  justify-self: center;
  margin: auto;
  display: flex;
  flex-direction: rowc;
  background-color: #272727!important;
  height: 50vmax!important;
}

body > div > h1 {
  margin-bottom: 5%;
}
ul {
  list-style: none;
  height: 100%;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(1fr, 3);
}
a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  color: white;
}
body > div div.card:hover {
  background-color: hsl(var(--primary-dark), 50%);
}

.card {
    background-color: var(--primary);
    color: var(--text-on-primary);
    border: 2px;
    border-radius: 5px;
    padding: 2px 3px 2px 3px;
    margin: 3px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 75);
}

#menu {
    --padding-horizontal: 30px;
    width: fit-content;
    height: fit-content;
    align-self: center;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
}

#menu > ul > li > a {
    font-weight: bold;
    font-style: italic;
    color: var(--warn)
}

.center-container {
    margin: auto;
    padding: 10px;
}
